body {
    background-color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
}

a {
    color: #582c83;
}

a:hover {
    text-decoration: none;
    color: #2c1641;
}

.btn:focus, .form-control:focus {
    outline: none;
    box-shadow: none;
}

.form-control:focus {
    border-color: #582c83;
}

#scrapeBtn, #clearArticleBtn {
    background-color: #582c83;
    border: 1.4px white solid;
    color: #ffffff;
}

#scrapeBtn:hover {
    background-color: #0aa200;
    border: 1.4px #0aa200 solid;
    color: #ffffff;
}

#clearArticleBtn:hover {
    background-color: #a50500;
    border: 1.4px #a50500 solid;
    color: #ffffff;
}

.saveArticleBtn, .commentBtn, .removeArticleBtn, .addCommentBtn, .closeModalBtn {
    color: #582c83;
    border: 1.4px #582c83 solid;
    background-color: #ffffff;
    font-weight: bold;
}

.saveArticleBtn:hover {
    color: #000000;
    border: 1.4px gold solid;
    background-color: gold;
    font-weight: bold;
}

.commentBtn:hover, .addCommentBtn:hover {
    color: #ffffff;
    border: 1.4px #582c83 solid;
    background-color: #582c83;
    font-weight: bold;
}

.removeArticleBtn:hover, .closeModalBtn:hover {
    color: #ffffff;
    border: 1.4px #a50500 solid;
    background-color: #a50500;
    font-weight: bold;
}

.navbar {
    font-family: 'Quicksand', sans-serif;
    background-color: #582c83;
    color: #ffffff;
}

.nav-item {
    padding: 10px 2px 10px 2px;
}

.nav-link, .navbar-brand {
    color: white;
}

.nav-link:hover, .navbar-brand:hover {
    color: gold;
}

.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("./images/newspaper-jumbotron-background.jpg");
    background-size: cover;
    color: white;
    font-family: 'Quicksand', sans-serif;
  }

  ::-webkit-scrollbar {
    width: 10px;
    border-radius:25px; 
}
  
::-webkit-scrollbar-track {
    background: #d8d8d8;
    
}
   
::-webkit-scrollbar-thumb {
    background: #64bb46;
    border-radius: 25px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #0aa200; 
}
